body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

header {
  background: #000;
  color: #c5a24a;
  padding: 20px;
}

.box {
  background: white;
  margin: 30px auto;
  padding: 25px;
  width: 700px;
  border-radius: 6px;
}

h1, h2 {
  color: #000;
}

.valor h1 {
  color: #c5a24a;
  font-size: 42px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #777;
}
